@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --primaryTextColor: #232e35;
    --secondaryTextColor: #656d72;

    --borderColor: #f1f1f1;
    --lineColor: #d9d9d9;

    --primaryBackgroundColor: #fff;
    --secondaryBackgroundColor: #fbfbfb;    
    --thridBackgroundColor: #f5f3fe;

    --primaryIconColor: #7e74f1;
    --primaryIconColorHover: #5d51e8;

    --sectionPadding: 6rem 0;

    --itemBorderRadius: 0.7rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--primaryTextColor);
}

p {
    font-size: 1rem;
    line-height: 1.9rem;
}

p,
span,
label,
input,
textarea,
li {
    color: var(--secondaryTextColor);
}

a {
    text-decoration: none;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 90%;
    }
}

/* Buttons */
.btn {
    padding: 1rem 1.5rem;
    background-color: var(--primaryIconColor);
    color: #fff;
    border: 1.5px solid var(--borderColor);
    border-radius: 6px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.btn:hover {
    background: var(--primaryIconColorHover);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

/* Titles */
.section-title {
    margin: 1rem 0 4rem;
    font-size: 2rem;
    text-align: center;
}

.pre-title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--secondaryTextColor);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
    text-align: center;
}

.pre-title::before {
    content: "";
    width: 30px;
    height: 1px;
    background: var(--lineColor);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

/* Layout */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

/* Logo and Navigations Menu */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a {
    color: var(--primaryIconColor);
    font-size: 2.5rem;
}

.logo a:hover {
    color: var(--primaryIconColorHover);
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: var(--primaryTextColor);
}

nav ul li a:hover {
    color: var(--primaryIconColorHover);
}

/*  Burger */
.burger div {
    width: 25px;
    height: 2px;
    background-color: #000;
    margin: 7px;
    transform: all 0.3s;
    z-index: 99;
}

.burger {
    display: none;
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}

/* Hero Section */
#hero {
    background-color: var(--primaryBackgroundColor);
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-name {
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0 1 rem;
}

.hero-name span {
    color: var(--primaryIconColor);
}

.hero-right img {
    width: 90%;
}

.hero-right {
    display: flex;
    justify-content: center;
}

/* Services Section */
#services {
    background-color: var(--secondaryBackgroundColor);
    padding: var(--sectionPadding);
}

.services .pre-title {
    margin: 0 auto;
}

.service {
    padding: 3rem 2rem;
    text-align: center;
    background-color: var(--primaryBackgroundColor);
    border-radius: var(--itemBorderRadius);
}

.service h4 {
    margin: 1.5rem 0 ;
    font-weight: 500;
    font-size: 1.05rem;
}

.service-icon {
    background: var(--thridBackgroundColor);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}

/* .service-icon img {
    fill: var(--primaryIconColor);
} */

/* Skills & Education */
#skills {
    padding: var(--sectionPadding);
    background: var(--secondaryBackgroundColor);
}

.skills .pre-title {
    margin: 0 auto;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.education {
    display: flex;
    gap: 2rem;
}

.education-line {
    padding: 0 0.7rem;
}

.education .line div {
    width: 2px;
    height: 100%;
    background: var(--borderColor);
    position: relative;
}

.education-info p {
    margin: 0.6rem 0 1.4rem;
}

.education-years {
    margin-bottom: 3rem;
}

/* The Dot on the Line */
.education .line div:before {
    content: "";
    width: 15px;
    height: 15px;
    background: var(--borderColor);
    border-radius: 50%;
    position: absolute;
    left: -6px;
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
}

.skills-right ul {
    line-height: 2rem;
    padding: 0 1rem;
}

/* Portfolio Section*/
#portfolios {
    padding: var(--sectionPadding);
    background-color: var(--primaryBackgroundColor);
}

.portfolios .pre-title {
    margin: 0 auto;
}

.portfolio {
    border-radius: var(--itemBorderRadius);
    overflow: hidden;
    border: 1px solid var(--borderColor);
}

.portfolio:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.portfolio-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-info {
    padding: 2rem 1.5rem;
}

.portfolio-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: 1rem;
}

.portfolio h4 {
    font-weight: 500;
    font-size: 1.05rem;
}

.portfolio h4:hover {
    color: var(--primaryIconColorHover);
}

.portfolio-tags {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.portfolio-tags div {
    font-size: .9rem;
    border: 1px solid var(--borderColor);
    padding: 0.4rem 1rem;
    color: var(--secondaryTextColor);
}

/* Contact Section */
#contacts {
    padding: var(--sectionPadding);
    background-color: var(--primaryBackgroundColor);
}

.contacts-main .pre-title {
    margin: 0 auto;
}

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.contact-form div {
    margin-bottom: 1.4rem;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: .75rem 1.3rem;
    font-family: "Roboto", sans-serif;
    background-color: var(--secondaryBackgroundColor);
    border: 2.5px solid var(--borderColor);
    border-radius: 3px;
    resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #9d9fa1;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border: 1.2px solid #7d7d7d;
}

.btn-submit {
    width: 100%;
    padding: .75rem 1.3rem;
    background-color: var(--primaryIconColor);
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn-submit:hover {
    background: var(--primaryIconColorHover);
}

.contact-item {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}

.contact-item-icon {
    background: var(--thridBackgroundColor);
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contect-item-icon svg {
    fill: var(--primaryIconColor);
}

.contact-item-detail h4 {
    margin-bottom: 0.6rem;
}

/* Footer Section */
footer {
    padding: 4rem;
    background: var(--secondaryBackgroundColor);
    text-align: center;
}

.footer-icons {
    margin-bottom: 1rem;
}

.footer-icons a {
    margin: 0.5rem;
}

.footer-icons svg {
    fill: #3e3f40;
}

.footer-icons a:hover svg {
    fill: var(--primaryIconColorHover);
}

/* Blog Section */
#blogs {
    padding: var(--sectionPadding);
    background-color: var(--primaryBackgroundColor);
}

.blogs .pre-title {
    margin: 0 auto;
}

.blog {
    border-radius: var(--itemBorderRadius);
    overflow: hidden;
    border: 1px solid var(--borderColor);
}

.blog:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blog-cover {
    height: 200px;
}

.blog-cover img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.blog-info {
    padding: 2rem 1.5rem;
}

.blog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: 1rem;
}

.blog h4 {
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.blog h4:hover {
    color: var(--primaryIconColorHover);
}

.blog-title a {
    color: var(--primaryTextColor);
    transition: 0.2s ease-in-out;
}

.blog-title a:hover {
    fill: var(--primaryIconColorHover);
}

.blog-date {
    color: var(--secondaryTextColor);
    display: flex;
    gap: 1rem;
}

